code {
    font-family: var(--font-family-code, 'monospace');
    color: var(color-neutral-dark-80, '#36364A');
    background-color: var(color-neutral-light-05, '#F9F9FA');

    font-weight: var(--font-weight-normal);
    font-size: inherit;
    line-height: inherit;
    letter-spacing: var(--letter-spacing-auto);
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-squish-2xs);
}