
ani-button[kind="secondary"] {
    --text-color: var(--color-action-default);
    --border-color: var(--color-action-default);

    /* hover */
    --text-color-hover: var(--color-brand-01-darkest);
    --background-hover: var(--color-brand-01-lighter);
    --border-color-hover: var(--color-brand-01-darkest);

    /* focused */
    --outline-color-focused: var(--color-action-focus);

    /* pressed */
    --text-color-pressed: var(--color-brand-01-darkest);
    --background-pressed: var(--color-brand-01-light);
    --border-color-pressed: var(--color-action-pressed);
    --outline-color-focused: var(--color-action-focus);

    /* disabled */
    --text-color-disabled: var(--color-neutral-light-30);
    --border-color-disabled: var(--color-action-disabled);
    --outline-color-focused: var(--color-action-focus);
}

ani-button[kind="secondary"][danger="true"] {
    --text-color: var(--color-feedback-negative-dark);
    --border-color: var(--color-feedback-negative-dark);

    /* hover */
    --text-color-hover: var(--color-feedback-negative-darkest);
    --background-hover: var(--color-feedback-negative-lighter);
    --border-color-hover: var(--color-feedback-negative-darkest);

    /* focused */
    --outline-color-focused: var(--color-action-focus);

    /* pressed */
    --text-color-pressed: var(--color-feedback-negative-darkest);
    --background-pressed: var(--color-feedback-negative-light);
    --border-color-pressed: var(--color-feedback-negative-darkest);
    --outline-color-focused: var(--color-action-focus);

    /* disabled */
    --text-color-disabled: var(--color-neutral-light-30);
    --border-color-disabled: var(--color-action-disabled);
    --outline-color-focused: var(--color-action-focus);
}