ani-button {
    --font-family: var(--font-family-text);
    --font-size: var(--font-size-default);
    --font-weight: var(--font-weight-bold);
    --line-height: var(--line-height-4xl);
    --border-radius: var(--border-radius-md);
    --spacing-squish: var(--spacing-squish-md);
}

ani-button[size="small"] {
    --font-size: var(--font-size-sm);
    --line-height: var(--line-height-xl);
    --spacing-squish: var(--spacing-squish-xs);
}

ani-button[size="large"] {
    --font-size: var(--font-size-default);
    --line-height: var(--line-height-4xl);
    --spacing-squish: var(--spacing-squish-lg);
}

ani-button[kind="primary"] {
    --text-color: var(--color-neutral-light-00);
    --background: var(--color-action-default);
    --shadow: var(--shadow-none);

    /* precisa ser colocar o text color hover se ele não muda? */
    --text-color-hover: var(--color-neutral-light-00);
    --background-hover: var(--color-action-hover);

    /* focused */
    --outline-color: var(--color-action-focus);

    /* pressed */
    --text-color-pressed: var(--color-neutral-light-00);
    --background-pressed: var(--color-action-pressed);
    --outline-color-focused: var(--color-action-focus);

    /* disabled */
    --text-color-disabled: var(--color-neutral-dark-70);
    --background-disabled: var(--color-action-disabled);
    --outline-color-focused: var(--color-action-focus);
}

ani-button[kind="secondary"] {
    --text-color: var(--color-action-default);
    --border-color: var(--color-action-default);
    --border-width: var(--border-width-lg);

    --text-color-hover: var(--color-brand-01-darkest);
    --background-hover: var(--color-brand-01-lighter);
    --border-color-hover: var(--color-brand-01-darkest);

    /* focused */
    --outline-color: var(--color-action-focus);

    /* pressed */
    --text-color-pressed: var(--color-brand-01-darkest);
    --background-pressed: var(--color-brand-01-light);
    --border-color-pressed: var(--color-action-pressed);
    --outline-color-focused: var(--color-action-focus);

    /* disabled */
    --text-color-disabled: var(--color-neutral-light-30);
    --border-color-disabled: var(--color-action-disabled);
    --outline-color-focused: var(--color-action-focus);
}

ani-button[kind="tertiary"] {
    --text-color: var(--color-action-default);

    /* precisa ser colocar o text color hover se ele não muda? */
    --text-color-hover: var(--color-brand-01-darkest);
    --background-hover: var(--color-brand-01-lighter);

    /* focused */
    --outline-color: var(--color-action-focus);

    /* pressed */
    --text-color-pressed: var(--color-brand-01-darkest);
    --background-pressed: var(--color-brand-01-light);
    --outline-color-focused: var(--color-action-focus);

    /* disabled */
    --text-color-disabled: var(--color-neutral-light-30);
    --outline-color-focused: var(--color-action-focus);
}

ani-button[kind="primary"][danger] {
    --text-color: var(--color-neutral-light-00);
    --background: var(--color-feedback-negative-dark);

    /* precisa ser colocar o text color hover se ele não muda? */
    --text-color-hover: var(--color-neutral-light-00);
    --background-hover: var(--color-feedback-negative-darker);

    /* focused */
    --outline-color-focused: var(--color-action-focus);

    /* pressed */
    --text-color-pressed: var(--color-neutral-light-00);
    --background-pressed: var(--color-feedback-negative-darkest);
    --outline-color-focused: var(--color-action-focus);

    /* disabled */
    --text-color-disabled: var(--color-neutral-dark-70);
    --background-disabled: var(--color-action-disabled);
    --outline-color-focused: var(--color-action-focus);
}

ani-button[kind="secondary"][danger] {
    --text-color: var(--color-feedback-negative-dark);
    --border-color: var(--color-feedback-negative-dark);

    --text-color-hover: var(--color-feedback-negative-darkest);
    --background-hover: var(--color-feedback-negative-lighter);
    --border-color-hover: var(--color-feedback-negative-darkest);

    /* focused */
    --outline-color: var(--color-action-focus);

    /* pressed */
    --text-color-pressed: var(--color-feedback-negative-darkest);
    --background-pressed: var(--color-feedback-negative-light);
    --border-color-pressed: var(--color-feedback-negative-darkest);
    --outline-color-focused: var(--color-action-focus);

    /* disabled */
    --text-color-disabled: var(--color-neutral-light-30);
    --border-color-disabled: var(--color-action-disabled);
    --outline-color-focused: var(--color-action-focus);
}