ani-tooltip {
    --color: var(--color-neutral-dark-80);

    --border-radius: var(--border-radius-md);

    --font-family: var(--font-family-text);
    
    --text-color: var(--color-neutral-light-00);
}
